:root{
    --background:#F5FBFC;
    --primary:#08546D;
    --primary-tint:#83A9B6;
    --primary-shade:#042A37 ;
    --secondary:#A8D5BA;
    --secondary-tint:#D3EADC;
    --secondary-shade:#546B5D;
    --accent:#97E3FB;
    --accent-tint:#CBF1FD;
    --accent-shade:#4B727E;
    --primary-container:#9CBBC5;
    --on-primary-container:#074C62;
    --secondary-container:#DCEEE3;
    --on-secondary-container:#546B5D;
    --accent-container:#D5F4FD;
    --on-accent-container:#4B727E;
}
body{
    background-color:var(--background);
    height: 2000px;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: poppins;
    color:var(--primary)
}
.account-title{
    border-bottom: 1px solid var(--primary-container);
}
.account-info{
    
    border-right: 1px solid var(--primary-container);
    
}
.account-info ul{
    height: 100vh;/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
}
.account-info ul a , .account-info svg{
    color: var(--primary);
    font-family: poppins;
    text-decoration: none;
    font-size: 22px;
    font-weight:500;
}
.account-info ul .active{
    background-color: var(--secondary);
}
.account-info ul .active svg{
    color: var(--secondary-shade);
}
.privacy-title svg{
    color: var(--secondary);
}