:root{
  --primary: #08546d;
  --secondary: #A8D5BA;
  --accent: #97e3fb;
}
.account-content h3, .user-info-content h2, .user-info-content h5, .groups-info h6{
  color:var(--primary) ;
}
@media (max-width: 768px) {
  .account-info{
    position: fixed;
    height: fit-content;
    transition:all 0.2s ease;
    
    
  }
  .account-btn{
    position: fixed;
    z-index: 999;
    
  }
  .account-btn svg{
    color: #4B727E;
  }

}